<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">projet Table</h4>
                       
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                  <th>id reservation</th>
                                 
                                 
                                  <th>date debut</th>
                                  <th>date Fin</th>
                                  <th>objectif</th>
                                  <th>actions</th>
                                </thead>
                                <tbody>
                                   
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
  </div>
  

